<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>김희영의 포트폴리오</title>
    <link rel="stylesheet" type="text/css" href="/css/bar.css">
    <link rel="stylesheet" type="text/css" href="/css/table.css">

</head>
<body>
<!--상단 바-->
<div class="top_bar">

    <div class="header-crop"  >
        <img class="header-img" src="https://lh3.googleusercontent.com/d/{{headerImg}}?authuser=0">
    </div>

</div>

<div class="body_div">





        <!--메뉴-->
        <div class="menu">
            <table class="menu-table" bgcolor="#000000">
                <tr>
                    <th scope="col" class="menu-table-th" onclick="location.href='../main'"> <h3 class="menu-txt">Main</h3> </th>
                    <th scope="col" class="menu-table-th" onclick="location.href='../resume'"> <h3 class="menu-txt">Resume</h3> </th>
                    <th scope="col" class="menu-table-th" onclick="location.href='../project'"> <h3 class="menu-txt">Project</h3> </th>
                    <th scope="col" class="menu-table-th" onclick="location.href='../contact'"> <h3 class="menu-txt">Contact Me!</h3> </th>
                </tr>
            </table>
        </div>


        <!--기본 프로필-->
    <div class="basic-profile_div">
            <table class="basic-profile">
                <tr>
                    <th>
                        <img class="Profile-img" src="https://lh3.googleusercontent.com/d/{{profileImg}}?authuser=0">
                    </th>
                </tr>
                <tr>
                    <th>
                        <h3>Kheeyoung</h3>
                    </th>
                </tr>
                <tr>
                    <th>
                        2001.01.03
                    </th>
                </tr>
            </table>
    </div>
    <div class="inline_div">



