<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>김희영의 포트폴리오</title>
    <link rel="stylesheet" type="text/css" href="/css/bar.css">
    <link rel="stylesheet" type="text/css" href="/css/table.css">

</head>
<body>
<!--상단 바-->


    <div class="header-crop"  >
        <img class="header-img" src="https://lh3.googleusercontent.com/d/{{headerImg}}?authuser=0">
    </div>

<div class="body_div">
        <!--메뉴-->
        <div class="menu">
            <table class="menu-table" bgcolor="#000000">
                <tr>
                    <th scope="col" class="menu-table-th" onclick="location.href='../main'"> <h3 class="menu-txt">MAIN</h3> </th>
                    <th scope="col" class="menu-table-th" onclick="location.href='../resume'"> <h3 class="menu-txt">RESUME</h3> </th>
                    <th scope="col" class="menu-table-th" onclick="location.href='../project'"> <h3 class="menu-txt">PROJECT</h3> </th>
                    <th scope="col" class="menu-table-th" onclick="location.href='../contact'"> <h3 class="menu-txt">CONTACT ME!</h3> </th>
                </tr>
            </table>
        </div>

<div class="inner_body_div">
        <!--기본 프로필-->
    <div class="basic-profile_div">
            <table class="basic-profile">
                <tr>
                    <th>
                        <img class="Profile-img" src="https://lh3.googleusercontent.com/d/{{profileImg}}?authuser=0">
                    </th>
                </tr>
                <tr>
                    <th>
                        <h3>Kheeyoung!</h3>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h4>2001.01.03</h4>
                    </th>
                </tr>
                <tr>
                    <th>
                        <h4>서울여자대학교</h4>
                        <h4>소프트웨어융합학과 졸업</h4>
                    </th>
                </tr>
                <tr>
                    <th>
                        <a href="https://github.com/kheeyoung"><h4>GitHub</h4></a>

                    </th>
                </tr>
            </table>
    </div>
    <div class="contents_div">





