<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>김희영의 포트폴리오</title>
    <link rel="stylesheet" type="text/css" href="/css/bar.css">
    <link rel="stylesheet" type="text/css" href="/css/table.css">

</head>
<body>
<!--상단 바-->
<div class = "top_bar">
    <div class="login">
        <button>login</button>
    </div>
    <div class="time">
        지금은 {{now}}입니다. 좋은 하루되세요!!
    </div>

</div>
<!--측면 바-->

<div class="side_bar_div">
    <a href="../main" class="anchor">Menu</a>
    <ul class="side_bar_list">
        <li><a href="../resume" class="anchor">Resume</a></li>
        <li><a href="../project" class="anchor">Project</a></li>
        <li><a href="../contact" class="anchor">Contact Me</a></li>
    </ul>
</div>
<div class="inline_div">



