html, body {
    margin:0;
    height: 100%;
    width: 100%
}

.body_div{
    margin: auto;
    width: 60%;

}
.basic-profile_div{
    height: 100%
    width: 10%;
    display: flex;


}



.header-crop{
    width:100%;
    height:40vh;
    overflow:hidden;
    margin:0 auto;
}
.header-img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.menu{
    margin: auto;

}

.menu-txt{
    color: #FFFFFF;
}

.Profile-img{
    width:100px;
    height:133px;
    object-fit:cover;
}

.down_bar{
    text-align: left;
    width: 100%;
    height: 10%;
    background-color:#000000; /*배경 색*/
    color: white;             /*글자 색*/
}

