table {
    margin-left:auto;
    margin-right:auto;

}
th, td {
  text-align: left;
}

.body-contents{
    width :auto;
    height : 100%;
    display: inline-block;
}

.profile_th{
    text-align: right;
}
.profile_img{
    width="180";
    height="240";
}

.menu-table{
    width : 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-left:auto;
    margin-right:auto;

}

.menu-table-th{
width: 200;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;

}

.basic-profile{
display: inline-block;
width : 20%;
text-align: center;
}

.contact{
height:auto;
width : 100%;
text-align: center;
}