{{>layout/header}}
<table class="contact">
    <tr>
        <th>tel</th>
        <th>010-8661-4830</th>
    </tr>
    <tr>
        <th>e-mail</th>
        <th>talent8661@gmail.com</th>
    </tr>
    <tr>
        <th>git hub</th>
        <th><a href="https://github.com/kheeyoung">https://github.com/kheeyoung</a> </th>
    </tr>
</table>
{{>layout/footer}}