{{>layout/header}}

<div class="contact-Div">
    <h1>TEL</h1>
    <h2>010-8661-4830</h2>
</div>
<div class="contact-Div">
    <h1>E_MAIL</h1>
    <h2>talent8661@gmail.com</h2>
</div>
<div class="contact-Div">
    <h1>GitHub</h1>
    <h2><a href="https://github.com/kheeyoung">https://github.com/kheeyoung</a></h2>
</div>



{{>layout/footer}}