{{>layout/header}}
<table class="body-contents">
    <tr>
        <th>Web</th>
    </tr>
    {{#Web}}
        <tr>
            <td colspan="2"><h3>{{title}}</h3></td>
        </tr>
        <tr>
            <th>요약</th>
            <td>{{contents}}</td>
        </tr>
        <tr>
            <th>code</th>
            <td><a href="{{url}}">GitHub</a> </td>
        </tr>
    {{/Web}}

    <tr>
        <th>App</th>
    {{#App}}
        <tr>
            <td colspan="2"><h3>{{title}}</h3></td>
        </tr>
        <tr>
            <th>요약</th>
            <td>{{contents}}</td>
        </tr>
        <tr>
            <th>code</th>
            <td><a href="{{url}}">GitHub</a> </td>
        </tr>
    {{/App}}
    </tr>
    <tr>
        <th>Etc</th>
    {{#Etc}}
        <tr>
            <td colspan="2"><h3>{{title}}</h3></td>
        </tr>
        <tr>
            <th>요약</th>
            <td>{{contents}}</td>
        </tr>
        <tr>
            <th>code</th>
            <td><a href="{{url}}">GitHub</a> </td>
        </tr>
    {{/Etc}}
    </tr>
</table>
{{>layout/footer}}