{{>layout/header}}
<!--기본 정보 표-->

<table class="body-contents">
    <tr>
        <th scope="col" colspan="3"> <h1>Kheeyoung's Portfolio</h1> </th>
    </tr>
    <tr>
        <th scope="col"> 이름 </th>
        <th scope="col"> <h2>김희영</h2> </th>
        <th class="profile_th" scope="col" rowspan="4" colspan="2"> <img class="profile_img" src="images/mypic.jpg" alt="증명사진" width="180" height="240"> </th>
    </tr>
    <tr>
        <th scope="col"> 성별 </th>
        <th scope="col"> W </th>
    </tr>
    <tr>
        <th scope="col"> 생년월일 </th>
        <th scope="col"> 2001. 01. 03 (24세) </th>

    </tr>
    <tr>
        <th scope="col"> e-mail </th>
        <th scope="col"> <h3>talent8661@gmail.com</h3> </th>
    </tr>
    <tr>
        <th scope="col"> 연락처 </th>
        <th scope="col"> <h3>010-8661-4830</h3> </th>
    </tr>
    <tr>
        <th scope="col"> 주소 </th>
        <th scope="col"> 경기도 고양시 향동 1로 20 204-401 </th>
    </tr>
    <tr><th scope="col" rowspan="3" valign="top"> 학력 </th></tr>
    <tr>

        <th scope="col"> (인천) 서운 고등학교 졸업 (2016-2019) </th>
    </tr>
    <tr>
        <th scope="col"> <h3>(서울) 서울여자대학교 졸업 (2020-2024)</h3> </th>
        <th scope="col"> (주) 소프트웨어융합학과 </th>
        <th scope="col"> 3.83 / 4.5 </th>
    </tr>

    <tr>
        <th scope="col"> 자격/어학 </th>
        <th scope="col"> TOEIC (820) </th>
        <th scope="col"> 정보처리기사 </th>
        <th scope="col"> 운전면허 1종 보통 </th>
    </tr>
    <tr></tr>

    <tr>
        <th scope="col" colspan="3"> 자기소개서 </th>
    </tr>

    {{#introduction}}
        <tr>
            <th scope="col" colspan="4" valign="bottom" style="height: 100px;"> {{title}} </th>
        </tr>
        <tr>
            <td scope="col" colspan="4"> {{txt}} </td>
        </tr>
    {{/introduction}}


</table>


</div>



{{>layout/footer}}